<div class="title" align="center">~<%= @user.username %>'s Articles~</div>

<!-- Show gravatar image -->
<div class="row category-edit">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>

<!-- Show page navigation buttons -->
<div align="center">
  <%= will_paginate @user_articles %>
</div>  

<!-- Display article partial -->
<%= render 'articles/article', obj: @user_articles %>

<!-- Show page navigation buttons -->
<div align="center">
  <%= will_paginate @user_articles %>
</div>  