<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Logo links to root page -->
      <%= link_to "Orange Blog", root_path, class: "navbar-brand", id: "logo" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- Link to articles index page -->
        <li><%= link_to "Articles", articles_path, class: "nav-link" %></li>
        <!-- Link to users index page -->
        <li><%= link_to "Users", users_path, class: "nav-link" %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- Link to categories index page -->
            <li><%= link_to "All Categories", categories_path %></li>
            <!-- Links to each category -->
            <% Category.all.each do |category| %>
              <li><%= link_to "#{category.name}", category_path(category) %></li>
            <% end %>
          </ul>
        </li>
        <!-- Show dropdown if user is logged in -->
        <% if logged_in? %> 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <!-- Link to articles new page -->
              <li><%= link_to "New Article", new_article_path %></li>
              <!-- Show link to categories new page if user is admin -->
              <% if logged_in? and current_user.admin? %>
                <li><%= link_to "New Category", new_category_path %></li>  
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- Show options if user is logged in -->
        <% if logged_in? %>
          <!-- Link to delete session -->
          <li><%= link_to 'Log out', logout_path, method: :delete, class: "nav-link" %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Your <%= "Admin" if current_user.admin? %> Profile <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- Link to users edit page -->
              <li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
              <!-- Link to users show page -->
              <li><%= link_to 'View Profile', user_path(current_user) %></li>
            </ul>
          </li>
        <!-- Show options if user isn't logged in -->
        <% else %>
          <!-- Link to create session -->
          <li><%= link_to 'Log in', login_path, class: "nav-link" %></li>
          <!-- Link to users new page -->
          <li><%= link_to 'Sign up', signup_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>

  </div>
</nav>