<!DOCTYPE html>
<html>
  <head>
    <title>OrangeBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- For google font -->
    <link href="https://fonts.googleapis.com/css?family=B612&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- Display navigation partial -->
    <%= render 'layouts/navigation' %>
    <!-- Display messages partial -->
    <%= render 'layouts/messages' %>
    <div class="container">
      <%= yield %>
    </div>
    <!-- Display footer partial -->
    <%= render 'layouts/footer' %>
    <!-- Show params if in development -->
  </body>
</html>